<!doctype html>
<html>
	<head>
		<meta charset ='utf-8'>
		<title>biudfnoiuinb</title>
	<head>
	<body>
		<h1>hello world</h1>
		<form action="/craycray" method="post">
		Name: <input type="text" name="name" value="">
		Email: <input type="text" name="email" value="">
		Dojo: <input type="text" name="dojo" value="">
		Favorite Language: <input type="text" name="language" value="">
		Comments <input type="textarea" rows ="5" cols="40" name="comment" value="">
		<button>Submit</button>
		</form>
	</body>
</html>